<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Data\\logs\\CurrentLog.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="556" />
      <layout type="log4net.Layout.XmlLayout">
        <locationInfo value="true" />
      </layout>
    </appender>
    
    <root>
      <!--dont want to fill up the log file with ALL, so only log the FATAL items-->
      <level value="FATAL" />
      <appender-ref ref="RollingFile" />
      <!--develper level debugging in the application-->
      <level value="ALL" />
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="rent-noreply@triple.by">
        <network host="post.triple.local" />
      </smtp>
    </mailSettings>
  </system.net>
  <userSettings>
    <Rent.Properties.Settings>
      <setting name="IrrByItemsPerPage" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LessThanInUSD" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="IrrByItemsPerPageMin" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PollingRandomSleepMin" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PollingRandomSleepMax" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailTo" serializeAs="String">
        <value />
      </setting>
      <setting name="AdOwnerLoginNameFilter" serializeAs="String">
        <value>агенство;агент;agent</value>
      </setting>
      <setting name="AdDescriptionFilter" serializeAs="String">
        <value>агент по;агенство</value>
      </setting>
      <setting name="UpdateSource" serializeAs="String">
        <value>http://d-hub.net/Progs/UpdateCheck</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
    </Rent.Properties.Settings>
  </userSettings>
</configuration>